

html {font-size: 18px;
}

body {font-family: helvetica;
display: flex;
flex-direction: column;
align-items: center;
background-color: black;
 }

 .header_container { display: flex;
   align-items: center;
   background-color: black;
   width: 960px;
 color: white;}

#logo_picture {height: 1.5rem;
margin-right: 1rem;
margin-left: 0.5rem;}

 .logo_words {margin-top: 0.66rem;
 margin-bottom: 0.66rem;}

.overall_container {
width: 100%;}

.mainbody {}

.greetingbox_overall {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
    }

.box_blackbackground {width: 20rem;
background-color: black;}

.middle_greetingbox {width: 960px;
padding-top: 9rem;
}

.greetingbox_top {}
.greetingbox_top p  {font-size: 1rem;
font-weight: bold;
color: white;
padding-left: 3rem;
padding-top: 2rem;
margin-bottom:0.25rem;}

.greetingbox_bottom {}
.greetingbox_bottom p {font-size: 2rem;
font-weight: bold;
color: white;
padding-left: 3rem;
margin-top: 0px;}



.menubar {display: flex;
  justify-content: center;
background-color: firebrick;
}

.menubar_innerbox {width: 960px;
  display: flex;
 justify-content: space-between;}
.menubar_innerbox a {color: white;
margin-top: 0.75rem;
margin-bottom: 0.75rem;}

.image_overalloverall_container {display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: white;}


.image_overall_container {display: flex;
  width: 960px;
justify-content: space-between;
align-items: center;
margin-top: 3rem;}

.images {border: 4px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.imagebox {padding-top: 2rem;
padding-bottom: 2rem;}

.imagebox img {height: 9rem;
max-width: 100%;}

.caption_box {width: 100%;
display: flex;
justify-content: center;
background-color: black;
padding-top: 0.5rem;
padding-bottom: 0.5rem;}

.caption_box span {color: white;}

.locationhours_box {
width: 960px;
margin-bottom: 4rem;
margin-top: 3rem;
  display: flex;
flex-direction: row;
justify-content: space-between;}

.location_enclosure , .hours_enclosure {width: 35%; }

.location_box_top {padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: black;
  color: white;
}

#location_caption {margin-left: 2rem;
padding-top: 1rem;
margin-bottom: 1rem;}
#hours_caption {margin-left: 2rem;}


.location_box_bottom {}

.hours_box_top {border: 1px black solid;
padding-top: 1rem;
padding-bottom: 1rem;
background-color: black;
color: white;}

.hours_box_bottom {}

.footer {display: flex;
height: 5rem;
justify-content: center;
align-items: center;
background-color: black;}

.copyrightnotice { width: 960px;}

.copyrightnotice span {color: white;}
